# Binaries and libraries
/bin/
/lib/
/plugins/
/docs/
/logs/
/licenses-binary/
LICENSE*
NOTICE*
*.jar
*.crc

# Runtime crawl artifacts and segments
/crawl/
/output*/
/warc-output/
/warc-files/

# Temporary files
.DS_Store
conf/*
!/warc-files/*.warc
